<!-- views/partials/footer.ejs -->

<div style='position: fixed;bottom: 0;background:#373737;color:white;width:100%;padding: 9px 2px 2px 2px'>
    <p class="text-center text-muted">© Copyright 2019 Twitter Sentiment Viz</p>
</div>