<nav class="navbar navbar-expand-sm bg-dark navbar-dark"  style='margin:0px 0px 0px 0px;'>
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
      <img src="http://www.stickpng.com/assets/images/58e9196deb97430e819064f6.png" alt="logo" style="width:40px;">
    </a>
    
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      
    </ul>
</nav>
  