<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>
<!-- Tweet time line Graph js files-->

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>


<!--End of timeline js files-->


<!--Tweet emotion heatmap js files-->

<!--end of tweet heat map js files -->

<body>

    <header>
        <% include ./partials/header %>
    </header>

    <br>
    <div class="container" style='margin:0px 0px 0px 0px;'>
        <!-- Nav tabs -->

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#home">Sentiment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu1">Heat Map</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu2">Time Line</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu3">Tweets</a>
            </li>
        </ul>
    </div>

    <!-- Tab panes -->
    <div class="tab-content">
        <div id="home" class="container tab-pane active" height='90%'><br>
            <form class="form-inline" action="/action_page.php">
                <label for="keyword">Key word:</label>
                <input type="keyword" class="form-control" id="keyword">
                <label for="frmDate" style='margin-left:4px'>From:</label>
                <input type="date" class="form-control" id="frmDate">
                <label for="toDate" style='margin-left:4px'>To :</label>
                <input type="date" class="form-control" id="toDate">
                <button type="submit" class="btn btn-primary" style='margin-left:4px' id='trig'>Search</button>
            </form>

        </div>
        <div id="menu1" class="container tab-pane fade"><br>
            <h3>Heat Map</h3>
            <!--heat map div area-->
            <div id="demo-wrapper">
                <div id="mapBox">
                    <div id="up"></div>
                    <div class="selector">
                        <button id="btn-prev-map" class="prev-next"><i class="fa fa-angle-left"></i></button>
                        <select id="mapDropdown" class="ui-widget combobox"></select>
                        <button id="btn-next-map" class="prev-next"><i class="fa fa-angle-right"></i></button>
                    </div>
                    <div id="container"></div>
                </div>
                <div id="sideBox">

                    <input type="checkbox" id="chkDataLabels" checked='checked' />
                    <label for="chkDataLabels" style="display: inline">Data labels</label>
                    <div id="infoBox">
                        <h4>This map</h4>
                        <div id="download"></div>
                    </div>
                </div>
            </div>

        </div>
        <div id="menu2" class="container tab-pane fade"><br>
            <h3>Time Line</h3>
            <!--Tweet time line div area-->
            <div id="container1" style="height: 400px; min-width: 310px"></div>
        </div>
        <div id="menu3" class="container tab-pane fade"><br>
            <h3>Tweets</h3>

            <div class="media border p-3">
                <table class="table   table-hover" id='meta_data' style='font-size:10px'> 
                    <thead class='sticky-top table-primary'>
                        <tr>
                            <th>Created Date</th>
                            <th>Tweet Content</th>
                           
                        </tr>
                    </thead>
                </table>
            </div>

        </div>
    </div>

    </div>

    <footer>
        <% include ./partials/footer %>
    </footer>

</body>

<!--Tweet time line script area-->
<script>
    function epochConvert(time) {
        d = new Date(parseInt(time.toString() + "000"));
        return d.getHours() + ':' + d.getMinutes() + ':' + d.getSeconds();
    }
    function convertr(data) {
        data = JSON.parse(data)
        for (i = 0; i < data.length; i++) {
            data[i][0] = epochConvert(data[i][0]);
        }
        return data;
    }
    function getValues(data) {
        dt = [];
        data = JSON.parse(data)
        for (i = 0; i < data.length; i++) {
            dt.push(data[i][1]);
        }
        return dt;
    }

    $.getJSON('http://127.0.0.1:5000/analyze/trump', function (data) {

        f = convertr(data['joy']);
        fear = getValues(data['fear']);
        joy = getValues(data['joy']);
        sad = getValues(data['sadness']);
        anger = getValues(data['anger']);
        disgust = getValues(data['disgust']);
        surprise = getValues(data['surprise']);
        //console.log(data['fear']);
        cat = [];
        for (i = 0; i < f.length; i++) {
            cat.push(f[i][0]);
        }

        //Generate the tweet wall
        tweet_meta = data['meta'];
        //tweet_meta = JSON.parse(tweet_meta)
        
        var tbody = document.createElement("tbody");
        for (j = 0; j < tweet_meta.length; j++) {
            var tr = document.createElement("tr");
            td1 = document.createElement("td");
            td1.textContent = tweet_meta[j][0];
            td2 = document.createElement("td");
            td2.textContent = tweet_meta[j][1];
            tr.append(td1);
            tr.append(td2);
            tbody.append(tr);
        }
        
        document.getElementById('meta_data').append(tbody);

        ////////////////Time line
        Highcharts.chart('container1', {
            chart: {
                type: 'spline'
            },
            title: {
                text: 'Tweet Emotion Timeline'
            },
            subtitle: {
                text: 'Keyword: India'
            },
            xAxis: {
                categories: cat
            },
            yAxis: {
                title: {
                    text: 'Tweet Count'
                },
                labels: {
                    formatter: function () {
                        return this.value;
                    }
                }
            },
            tooltip: {
                crosshairs: true,
                shared: true
            },
            plotOptions: {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [{
                name: 'Fear',
                marker: {
                    symbol: 'square'
                },
                data: fear

            }, {
                name: 'Joy',
                marker: {
                    symbol: 'diamond'
                },
                data: joy
            },
            {
                name: 'Sadness',
                marker: {
                    symbol: 'diamond'
                },
                data: sad
            },
            {
                name: 'Anger',
                marker: {
                    symbol: 'diamond'
                },
                data: anger
            },
            {
                name: 'Disgust',
                marker: {
                    symbol: 'diamond'
                },
                data: disgust
            },
            {
                name: 'Surprise',
                marker: {
                    symbol: 'diamond'
                },
                data: surprise
            }
            ]
        });
    });

</script>

<!--heat map tweets js -->


<!--Heat map tweets css section-->


<!--end of css heatmap-->

</html>