<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>
<!-- Tweet time line Graph js files-->

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>


<!--End of timeline js files-->

<link rel="icon" href="favicon.ico" type="image/ico">  
<!--Tweet emotion heatmap js files-->

<!--end of tweet heat map js files -->

<body>

    <header>
        <% include ./partials/header %>
    </header>

    <br>
    <div style='width:100%;height:100%'>
        <div class="loader" style='display:none' id='css-wait'></div>
    </div>
    <div id='main-div' style='display:block'>
        <div class="container" style='margin:0px 0px 0px 0px;'>
            <!-- Nav tabs -->

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home">Sentiment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu1">Heat Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu2" id='time-line'>Time Line</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu3">Tweets</a>
                </li>
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="tab-content">
            <div id="home" class="container tab-pane active" height='90%'><br>
                <form class="form-inline" action="/action_page.php" style='margin-top:9%;margin-left:5%'>
                    <div class="input-group mb-3 input-group-sm">
                        <div class="input-group-prepend">
                            <span style='background:#2196F3;color:white' class="input-group-text">Keyword</span>
                        </div>
                        <input type="keyword" class="form-control" id="keyword">
                    </div>
                    <div class="input-group mb-3 input-group-sm">
                        <div class="input-group-prepend">
                            <span style='background:#2196F3;color:white' class="input-group-text">From </span>
                        </div>
                        <input type="date" class="form-control" id="frmDate">
                    </div>
                    <div class="input-group mb-3 input-group-sm">
                        <div class="input-group-prepend">
                            <span style='background:#2196F3;color:white'  class="input-group-text">To</span>
                        </div>
                        <input type="date" class="form-control" id="toDate">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary" style='margin-left:4px'
                                id='trig'>Search</button>
                        </div>
                    </div>
                </form>
                

            </div>
            <div id="menu1" class="container tab-pane fade"><br>
                <h3>Heat Map</h3>
                <!--heat map div area-->
                

            </div>
            <div id="menu2" class="container tab-pane fade"><br>
                <h3>Timeline</h3>
                <!--Tweet time line div area-->
                <div id="container1" style="height: 400px; min-width: 310px"></div>
            </div>
            <div id="menu3" class="container tab-pane fade"><br>
                <h3>Tweets</h3>

                <div class="media border p-3">
                    <table class="table   table-hover" id='meta_data' style='font-size:10px'>
                        <thead class='sticky-top table-primary' style="font-size:14px;background:#2196F3;color:white">
                            <tr>
                                <th>Created Date</th>
                                <th>Tweet Content</th>

                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
        </div>

    </div>
    </div>
    <footer>
        <% include ./partials/footer %>
    </footer>

</body>

<!--Tweet time line script area-->
<script>
    $('#trig').click(function (e) {
        e.preventDefault();
        var keyword = $('#keyword').val();
        $('#main-div').css('display', 'none');
        $('#css-wait').css('display', 'block');
        analyze(keyword);

    })
</script>
<script>

    function epochConvert(time) {
        d = new Date(parseInt(time.toString() + "000")+19800);
        return d.getHours() + ':' + d.getMinutes() + ':' + d.getSeconds();
    }
    function convertr(data) {
        data = JSON.parse(data)
        for (i = 0; i < data.length; i++) {
            data[i][0] = epochConvert(data[i][0]);
        }
        return data;
    }
    function getValues(data) {
        dt = [];
        data = JSON.parse(data)
        for (i = 0; i < data.length; i++) {
            dt.push(data[i][1]);
        }
        return dt;
    }

    //Analyze tweet function
    function analyze(keyword) {
        $.getJSON('http://127.0.0.1:5000/analyze/' + keyword, function (data) {
            console.log(data);

            $('#css-wait').css('display', 'none');
            $('#main-div').css('display', 'block');
            $('#time-line').click();
            f = convertr(data['joy']);
            fear = getValues(data['fear']);
            joy = getValues(data['joy']);
            sad = getValues(data['sadness']);
            anger = getValues(data['anger']);
            disgust = getValues(data['disgust']);
            surprise = getValues(data['surprise']);
            //console.log(data['fear']);
            cat = [];
            for (i = 0; i < f.length; i++) {
                cat.push(f[i][0]);
            }

            //Generate the tweet wall
            tweet_meta = data['meta'];
            //tweet_meta = JSON.parse(tweet_meta)

            var tbody = document.createElement("tbody");
            for (j = 0; j < tweet_meta.length; j++) {
                var tr = document.createElement("tr");
                tr.style.cssText = 'font-size:12px'
                td1 = document.createElement("td");
                td1.textContent = tweet_meta[j][0];
                td2 = document.createElement("td");
                td2.textContent = tweet_meta[j][1];
                tr.append(td1);
                tr.append(td2);
                tbody.append(tr);
            }

            document.getElementById('meta_data').append(tbody);

            ////////////////Time line
            Highcharts.chart('container1', {
                chart: {
                    type: 'spline'
                },
                title: {
                    text: 'Tweet Emotion Timeline'
                },
                subtitle: {
                    text: 'Keyword : ' + keyword
                },
                xAxis: {
                    categories: cat
                },
                yAxis: {
                    title: {
                        text: 'Tweet Count'
                    },
                    labels: {
                        formatter: function () {
                            return this.value;
                        }
                    }
                },
                tooltip: {
                    crosshairs: true,
                    shared: true
                },
                plotOptions: {
                    spline: {
                        marker: {
                            radius: 4,
                            lineColor: '#666666',
                            lineWidth: 1
                        }
                    }
                },
                series: [{
                    name: 'Fear',
                    marker: {
                        symbol: 'square'
                    },
                    data: fear

                }, {
                    name: 'Joy',
                    marker: {
                        symbol: 'diamond'
                    },
                    data: joy
                },
                {
                    name: 'Sadness',
                    marker: {
                        symbol: 'diamond'
                    },
                    data: sad
                },
                {
                    name: 'Anger',
                    marker: {
                        symbol: 'diamond'
                    },
                    data: anger
                },
                {
                    name: 'Disgust',
                    marker: {
                        symbol: 'diamond'
                    },
                    data: disgust
                },
                {
                    name: 'Surprise',
                    marker: {
                        symbol: 'diamond'
                    },
                    data: surprise
                }
                ]
            });
        });

    }

</script>

<!--Waiting animation -->
<style>
    /* Center the loader */
    .loader {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #2196F3;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    /* Add animation to "page content" */
    .animate-bottom {
        position: relative;
        -webkit-animation-name: animatebottom;
        -webkit-animation-duration: 1s;
        animation-name: animatebottom;
        animation-duration: 1s
    }

    @-webkit-keyframes animatebottom {
        from {
            bottom: -100px;
            opacity: 0
        }

        to {
            bottom: 0px;
            opacity: 1
        }
    }

    @keyframes animatebottom {
        from {
            bottom: -100px;
            opacity: 0
        }

        to {
            bottom: 0;
            opacity: 1
        }
    }

    #myDiv {
        display: none;
        text-align: center;
    }
</style>

<!--waiting animation-->


</html>